{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for phone in phones_list %}
                <div>
                    <h2><a href="/{{ phone.slug }}">{{ phone.name }}</a></h2>
                    <b> Стоимость: </b> {{ phone.price }}<br>
                    <img src={{ phone.image }} alt={{ phone.name }} /> <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}