{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <b> Сортировать по: </b>
            <a style="margin-left: 50px;" href="/catalog/?sort=name">      По названию </a>
            <a style="margin-left: 50px;" href="/catalog/?sort=price">     Сначала дешёвые </a>
            <a style="margin-left: 50px;" href="/catalog/?sort=-price">    Сначала дорогие </a>

        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for phone in phones_list %}
                <div>
                    <br>
                    <h2><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h2>
                    <b> Стоимость: </b> {{ phone.price }}<br>
                    <img src={{ phone.image }} alt={{ phone.name }} /> <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}